.container {
    display: grid; 
    grid-template-columns: .9fr 0.9fr; 
    grid-template-rows: 0.2fr 2.5fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header"
      "Game Upgrade"
      "Footer Footer"; 
      height: 100vh;
    text-align: center;
  }
  .Header { grid-area: Header;}
  .Game { grid-area: Game; }
  .Upgrade { grid-area: Upgrade;}
  .Footer { grid-area: Footer; }

  .css-selector {
    background: linear-gradient(223deg, #4158d0, #c850c0, #ffcc70);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.content {
  position: fixed;
  background-color: #dd8341;
  top: 50%;
  width: 80%;
}

.content:before,
.content:after {
  content: "";
  width: 2px; /* color white ("no color") color (each 2px wide); here you can adjust the width */
  height: 0;
  background: linear-gradient(to right, white, white 33.33%, #fff 33.33%, #fff 66.66%, white 66.66%); /* here you can adjust the spacing */
  margin-left: 10%;
  position: absolute; /* needs to be absolute */
  top: 0;
  animation: lineup 3s forwards;
}

.content:after {
  top: 100%;
  animation: linedown 3s forwards;
}

@keyframes lineup {100% {top: -200px; height: 200px}}
@keyframes linedown {100% {height: 200px}}

button(
  
)